<h1>Listing Books</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Issue Number</th>
      <th colspan="3"></th>
    </tr>
  </thead>
 
  <tbody>
    <tr>
      <td><%= @book.name %></td>
      <td><%= @book.issue_number %></td>
      <td><%= link_to "Show", @book %></td>
      <td><%= link_to "Edit", edit_book_path(@book) %></td>
      <td><%= link_to "Destroy", @book, method: :delete, data: { confirm: "Are you sure?" } %></td>
    </tr>
  </tbody>
</table>
<img style="height: 300px;" src="<%= @book.cover_image %>">
<br>

<% @image_files.each do |image_file| %>
  <img style="height: 100px;" src="<%= image_file %>">
<% end %>
 
<%= link_to "New book", new_book_path %>
<%= link_to "All books", books_path %>
